In [1]:
import json
import pandas as pd
import numpy as np
import os
import re

from sqlalchemy import create_engine

#from config import db_password

import time

In [2]:
data = pd.read_csv (r'C:\Users\ewaas\Desktop\Data Bootcamp\Analyses\Austin_Housing_Market\Resources\austinHousingData.csv')
Austin_Housing_Market_df = pd.DataFrame(data, columns= ['zpid', 'zipcode', 'latitude', 'longitude', 'latestPrice', 'latest_salemonth', 'latest_saleyear', 'livingAreaSqFt', 'numOfBedrooms', 'numOfBathrooms', 'propertyTaxRate'])
Austin_Housing_Market_df.head(10)

,zpid,zipcode,latitude,longitude,latestPrice,latest_salemonth,latest_saleyear,livingAreaSqFt,numOfBedrooms,numOfBathrooms,propertyTaxRate
0,111373431,78660,30.430632,-97.663078,305000.0,9,2019,2601.0,4,3.0,1.98
1,120900430,78660,30.432673,-97.661697,295000.0,10,2020,1768.0,4,2.0,1.98
2,2084491383,78660,30.409748,-97.639771,256125.0,7,2019,1478.0,3,2.0,1.98
3,120901374,78660,30.432112,-97.661659,240000.0,8,2018,1678.0,3,2.0,1.98
4,60134862,78660,30.437368,-97.656860,239900.0,10,2018,2132.0,3,3.0,1.98
5,2080105342,78660,30.437775,-97.656181,309045.0,8,2020,1446.0,3,2.0,1.98
6,241932337,78660,30.414684,-97.643394,315000.0,6,2020,2432.0,4,3.0,1.98
7,60134835,78660,30.439404,-97.658035,219900.0,10,2018,1422.0,3,3.0,1.98
8,60134833,78660,30.439096,-97.657959,225000.0,9,2019,1870.0,3,2.0,1.98
9,83827468,78617,30.160702,-97.638123,194800.0,9,2018,1422.0,3,3.0,1.98

In [3]:
# Check length of rows
length1 = len(Austin_Housing_Market_df)
print(length1)

15171

In [4]:
# Check for null values in the dataset
Austin_Housing_Market_df.isnull().values.any()

False

In [5]:
# Check for duplicates of Zillow ID: Will return all duplicated rows. If nothing returned, there are no duplicates. 
Austin_Housing_Market_df[Austin_Housing_Market_df.duplicated(['zpid'], keep=False)]

Empty DataFrame
Columns: [zpid, zipcode, latitude, longitude, latestPrice, latest_salemonth, latest_saleyear, livingAreaSqFt, numOfBedrooms, numOfBathrooms, propertyTaxRate]
Index: []

In [6]:
# Count of rows with same zpid
len(Austin_Housing_Market_df[Austin_Housing_Market_df.duplicated(['zpid'], keep=False)])

0

In [7]:
# Check data types for each column
Austin_Housing_Market_df.dtypes

zpid                  int64
zipcode               int64
latitude            float64
longitude           float64
latestPrice         float64
latest_salemonth      int64
latest_saleyear       int64
livingAreaSqFt      float64
numOfBedrooms         int64
numOfBathrooms      float64
propertyTaxRate     float64
dtype: object

In [8]:
Austin_Housing_Market_df

,zpid,zipcode,latitude,longitude,latestPrice,latest_salemonth,latest_saleyear,livingAreaSqFt,numOfBedrooms,numOfBathrooms,propertyTaxRate
0,111373431,78660,30.430632,-97.663078,305000.0,9,2019,2601.0,4,3.0,1.98
1,120900430,78660,30.432673,-97.661697,295000.0,10,2020,1768.0,4,2.0,1.98
2,2084491383,78660,30.409748,-97.639771,256125.0,7,2019,1478.0,3,2.0,1.98
3,120901374,78660,30.432112,-97.661659,240000.0,8,2018,1678.0,3,2.0,1.98
4,60134862,78660,30.437368,-97.656860,239900.0,10,2018,2132.0,3,3.0,1.98
...,...,...,...,...,...,...,...,...,...,...,...
15166,29512934,78748,30.161997,-97.816345,330000.0,12,2020,1234.0,3,2.0,1.98
15167,241937773,78741,30.240223,-97.772835,550000.0,12,2020,1888.0,3,4.0,1.98
15168,29473281,78704,30.244835,-97.761124,875000.0,1,2021,1524.0,3,3.0,1.98
15169,29392029,78722,30.281569,-97.717789,420000.0,8,2019,6068.0,4,2.0,1.98
15170,29390174,78702,30.276930,-97.701523,374900.0,1,2021,720.0,2,1.0,1.98

In [9]:
# Export dataframe to csv
Austin_Housing_Market_df.to_csv(r'C:\Users\ewaas\Desktop\Data Bootcamp\Analyses\Austin_Housing_Market\Resources\AHM_cleaned.csv', index = False)